<form
  class="flex flex-column w-full pb-5 h-16rem pl-7 pb-5 gap-4 justify-content-start align-items-start"
  [formGroup]="fpwdForm"
  (ngSubmit)="submitEmail()"
>
  <label class="font-color-title md:text-xl text-sm font-normal"
    >Email</label>
  <div class="fpwd-input w-10">
    <input
      type="text"
      pInputText
      class="p-inputtext md:text-lg text:xs font-light w-full"
      formControlName="email"
    />
  </div>

  <div class="flex gap-2 w-full">
    <div class="col-5 pl-0">
      <p-button [disabled]="!fpwdForm.get('email')!.valid" class="md:text-base text:xs btn create-btn flex gap-2" label="Envoyer" type="submit">
      </p-button>
    </div>
    <div class="col-5 pl-0">
      <p-button
        label="Annuler"
        class="md:text-base text:xs btn cancel-btn flex gap-2"
        (click)="closePasswordModal()"
      ></p-button>
    </div>
  </div>
</form>
