

.app-header {
  flex: 0;
}

.sidebar-container {
  background-color: #eff0f8;
  box-shadow: 8px 0px 24px 0px rgba(13, 23, 81, 0.04);
  color: #000;
}
.navbar-container {
  height: 10vh;
  background-color: #eff0f8;
  box-shadow: 0px 8px 24px 0px rgba(13, 23, 81, 0.04);
  color: #000;
}
.app-content {
  flex: 5;
  background-color: #fff;
}


