<div
  class="global-dialog dialog-bg flex justify-content-center align-items-start gap-3 h-atuo max-h-32rem p-3 m-6 mt-0" 
>
  <div class="border-round-lg dialog-bg dialog-item h-full col">
    <div class="flex flex-column gap-3 p-4">
      <div
        class="border-round-md dialog-bg h-7rem dialog-item flex justify-content-center align-items-center"
      >
        <img src="/assets/img/apple-tv-box.svg" alt="" />
      </div>
      <label class="md:text-xl text-base font-normal font-color"
        >Do you have screens?
      </label>
      <label class="md:text-base text-base font-light font-color mb-2"
        >Connect any screen via adspot Android player.
      </label>

      <p-button
        label="Contact us"
        class="md:text-base text:xs cancel-btn upload-btn flex gap-2"
      ></p-button>
    </div>
  </div>
  <div class="border-round-lg dialog-bg dialog-item h-full col">
    <div class="flex flex-column gap-3 p-4">
      <div
        class="border-round-md dialog-bg h-7rem dialog-item flex justify-content-center align-items-center gap-3"
      >
        <img src="/assets/img/monitor.svg" alt="" />
        <img src="/assets/img/monitor-1.svg" alt="" />
      </div>
      <label class="md:text-xl text-base font-normal font-color"
        >Do you have screens?
      </label>
      <label class="md:text-base text-base font-light font-color mb-2"
        >Connect any screen via adspot Android player.
      </label>

      <p-button
        label="Contact us"
        class="md:text-base text:xs cancel-btn upload-btn flex gap-2"
      ></p-button>
    </div>
  </div>
</div>
