::ng-deep .folders .p-dialog-header,
::ng-deep .p-dialog-content {
  box-shadow: 0px 8px 24px 0px rgba(13, 23, 81, 0.04);
  background:  #eff0f8 !important;
}

::ng-deep .folders .p-dialog-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 0rem;
  padding-top: 1.5rem;
}
.font-color-title {
  color: black;
}
.card-bg {
  background: #eff0f8;
  width: 100%;
  
}
::ng-deep .creation-input input {
  color: #1076fc;
  font-weight: 400;
  border-color: #1076fc;
  background-color: transparent;
  height: 3.5rem;
}
::ng-deep .creation-input input:focus {
  box-shadow: none;
}
::ng-deep .creation-input textarea {
  box-shadow: none;
  height: 3.5rem;
  border-radius: 8px;
  border: 1px solid #1076fc;
  background: var(--ADSPOT-BG-01, #eff0f8);
  color: #1076fc;
  font-size: clamp(18px, 1vw, 18px);
  font-weight: 300;
  width: 100%;
}

::ng-deep .creation-input textarea:focus {
  box-shadow: none;
}

.font-color-title {
  color: rgba(10, 17, 61, 0.32);
}

::ng-deep .btn button {
  background-color: #eff0f8;
  width: 100%;
  height: 3.5rem;
}
::ng-deep .cancel-btn button {
  background-color: #eff0f8;
  box-shadow: none;
}
::ng-deep .create-btn button {
  background-color: #1076fc;
}
::ng-deep .btn .p-button-label {
  flex: none;
  color: #1076fc;
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 400;
  width: 100%;
}
::ng-deep .create-btn .p-button-label {
  color: #eff0f8;
}

::ng-deep .create-btn .p-button:hover {
  border-radius: 8px;
  background: var(--ADSPOT-BG-01, #eff0f8);
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(13, 23, 81, 0.16);
}

::ng-deep .create-btn .p-button:hover .p-button-label {
  color: #0a113d;
}
::ng-deep .create-btn .p-button:focus {
  box-shadow: none;
  border-radius: 8px;
  background: var(--ADSPOT-BG-02, #0a113d);
  border: none;
}
::ng-deep .create-btn .p-button:focus .p-button-label {
  color: #eff0f8;
}

::ng-deep .cancel-btn .p-button-label {
  color: #1076fc;
}

::ng-deep .folders .p-dialog-header-icons {
  display: none;
}
::ng-deep .cancel-btn .p-button:hover {
  background: var(--ADSPOT-01, #1076fc);
}

::ng-deep .cancel-btn .p-button:hover .p-button-label {
  color: #eff0f8;
}
::ng-deep .cancel .p-button:focus {
  border-radius: 8px;
  border: 1px solid var(--ADSPOT-01, #1076fc);
  background: var(--ADSPOT-BG-01, #eff0f8);
  box-shadow: none;
}
::ng-deep .cancel .p-button:focus .p-button-label {
  color: #1076fc;
}
.select {
  border: 2px solid #1076fc;
}

.unselect {
  border: 2px solid rgba(13, 23, 81, 0.08);
}
